{% extends 'main/base.html' %} {% load static %} {% block content %}
<div class="flex justify-between items-center w-full px-6 pt-6">
  <div class="flex items-center">
    <div class="rounded-lg bg-gray-100 py-2 px-3 w-24">
      <a href="#">
        <img src="{% static 'main/images/logo-clickup.svg' %}" alt="ClickUp" />
      </a>
    </div>

    <div class="flex items-center font-bold mx-4">
      <a href="#" class="flex items-center text-gray-800 relative dropdown">
        <span>Passion Economy 2021</span>
        <span class="ml-4 block">
          <svg
            class="w-4"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 9L12 17L20 9"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>

        <div
          class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95 mt-5"
        >
          <div
            class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
            aria-labelledby="headlessui-menu-button-1"
            id="headlessui-menu-items-117"
            role="menu"
          >
            <div class="px-4 py-3">
              <p class="text-sm leading-5 font-normal text-gray-400">Other Events</p>
            </div>
            <div class="py-1">
              <a
                href="#"
                class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                role="menuitem"
                >Event 2</a
              >
              <a
                href="#"
                class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                role="menuitem"
                >Event 3</a
              >
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <span class="ml-4 block">
          <svg
            class="w-4"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 13C4.55228 13 5 12.5523 5 12C5 11.4477 4.55228 11 4 11C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13Z"
              stroke="black"
              stroke-width="2"
            />
            <path
              d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
              stroke="black"
              stroke-width="2"
            />
            <path
              d="M20 13C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11C19.4477 11 19 11.4477 19 12C19 12.5523 19.4477 13 20 13Z"
              stroke="black"
              stroke-width="2"
            />
          </svg> </span
      ></a>
    </div>
  </div>

  <div class="flex">
    <div class="flex items-center mr-8">
      <div class="relative flex justify-between w-16 mr-3">
        <div
          class="line absolute h-px w-full bg-emerald-400 top-1/2 -translate-y-1/2"
        ></div>
        <div class="dot rounded-full w-3 h-3 bg-emerald-400"></div>
        <div class="dot rounded-full w-3 h-3 bg-emerald-400"></div>
        <div class="dot rounded-full w-3 h-3 bg-emerald-400"></div>
      </div>
      <div class="text-sm font-bold">
        <span> Analysis </span>
      </div>
    </div>

    <div class="flex items-center">
      <div class="mr-4">
        <a
          href="#"
          class="rounded-lg hover:opacity-90 bg-violet-200 py-3 px-6 text-sm font-bold"
        >
          <span class="text-violet-700">Publish</span>
        </a>
      </div>
      <a
        href="#"
        class="rounded-lg hover:opacity-90 bg-violet-700 py-3 px-6 text-sm font-bold dropdown"
      >
        <span class="flex justify-center items-center">
          <span class="text-white"> Preview Event </span>
          <span class="ml-2">
            <svg
              class="w-4"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 9L12 17L20 9"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </span>
      </a>

      <div
        class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95 mt-8"
      >
        <div
          class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
          aria-labelledby="headlessui-menu-button-1"
          id="headlessui-menu-items-117"
          role="menu"
        >
          <div class="px-4 py-3">
            <p class="text-sm leading-5">Preview Event</p>
          </div>
          <div class="py-1">
            <a
              href="#"
              class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
              role="menuitem"
              >Option 1</a
            >
            <a
              href="#"
              class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
              role="menuitem"
              >Option 2</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sub Nav -->
<div class="border-b mx-6 mt-2 text-sm font-bold">
  <ul class="flex">
    <li class="mr-8">
      <a
        href=""
        class="py-3 inline-block border-b-4 border-pink-400 text-gray-800"
      >
        Overview
      </a>
    </li>
    <li class="mr-8">
      <a href="" class="py-3 inline-block"> People </a>
    </li>
    <li class="mr-8">
      <a href="" class="py-3 inline-block"> Agenda </a>
    </li>
    <li class="mr-8">
      <a href="" class="py-3 inline-block"> Design </a>
    </li>
    <li class="mr-8">
      <a href="" class="py-3 inline-block"> Emails </a>
    </li>
    <li class="mr-8">
      <a href="" class="py-3 inline-block"> Settings </a>
    </li>
  </ul>
</div>
<!-- /Sub Nav -->

<!-- Sub content -->
<div class="sub-content bg-slate-50 flex-1 px-6 py-8 h-full">
  <div class="border rounded-lg p-6">
    <div class="flex justify-between">
      <div class="flex">
        <span
          class="bg-pink-100 rounded-lg p-2 flex justify-center items-center"
        >
          <img
            src="{% static 'main/icons/icon-camera-video.svg' %}"
            alt="w-4"
          />
        </span>
        <div class="flex flex-col font-bold ml-4">
          <span class="text-xs"> Summit </span>
          <div class="font-lg text-gray-800">Passion Economy 2021</div>
        </div>
      </div>

      <div class="flex items-center">
        <div class="mr-4">
          <a
            href="#"
            class="rounded-lg hover:opacity-90 bg-violet-200 py-3 px-6 text-sm font-bold flex justify-center items-center"
          >
            <span>
              <svg
                class="w-4"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 6H16C17.5913 6 19.1174 6.63214 20.2426 7.75736C21.3679 8.88258 22 10.4087 22 12C22 13.5913 21.3679 15.1174 20.2426 16.2426C19.1174 17.3679 17.5913 18 16 18H15M9 18H8C6.4087 18 4.88258 17.3679 3.75736 16.2426C2.63214 15.1174 2 13.5913 2 12C2 10.4087 2.63214 8.88258 3.75736 7.75736C4.88258 6.63214 6.4087 6 8 6H9"
                  stroke="#6E44FF"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M7 12H17" stroke="black" stroke-width="2" />
              </svg>
            </span>
            <span class="text-violet-700 ml-2"> Copy Link </span>
          </a>
        </div>
        <a
          href="#"
          class="rounded-lg hover:opacity-90 bg-violet-200 py-3 px-6 text-sm font-bold flex justify-center items-center"
        >
          <span class="text-violet-700"> Manage Event </span>
          <span class="ml-2">
            <svg
              class="w-4"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.5 12C1.5 11.8011 1.57902 11.6103 1.71967 11.4696C1.86032 11.329 2.05109 11.25 2.25 11.25H19.9395L15.219 6.53097C15.0782 6.39014 14.9991 6.19913 14.9991 5.99997C14.9991 5.80081 15.0782 5.6098 15.219 5.46897C15.3598 5.32814 15.5508 5.24902 15.75 5.24902C15.9492 5.24902 16.1402 5.32814 16.281 5.46897L22.281 11.469C22.3508 11.5386 22.4063 11.6214 22.4441 11.7125C22.4819 11.8036 22.5013 11.9013 22.5013 12C22.5013 12.0986 22.4819 12.1963 22.4441 12.2874C22.4063 12.3785 22.3508 12.4613 22.281 12.531L16.281 18.531C16.1402 18.6718 15.9492 18.7509 15.75 18.7509C15.5508 18.7509 15.3598 18.6718 15.219 18.531C15.0782 18.3901 14.9991 18.1991 14.9991 18C14.9991 17.8008 15.0782 17.6098 15.219 17.469L19.9395 12.75H2.25C2.05109 12.75 1.86032 12.671 1.71967 12.5303C1.57902 12.3896 1.5 12.1989 1.5 12V12Z"
                fill="#6E44FF"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>

    <div class="mt-8 ml-14">
      <div class="grid grid-cols-5">
        <div class="flex flex-col font-bold text-xs">
          <span> Event Stats </span>
          <div class="font-lg text-gray-800 mt-4">Ended</div>
        </div>
        <div class="flex flex-col font-bold text-xs">
          <span> Date </span>
          <div class="font-lg text-gray-800 mt-4">18 Aug - 20 Aug, 2021</div>
        </div>
        <div class="flex flex-col font-bold text-xs">
          <span> Ticket Price </span>
          <div class="font-lg text-gray-800 mt-4">FREE</div>
        </div>
        <div class="flex flex-col font-bold text-xs">
          <span> Presenters </span>
          <div class="font-lg text-gray-800 mt-4">
            <div class="flex -space-x-1 overflow-hidden">
              <img
                class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
                src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
              <img
                class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
                src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
              <img
                class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
                src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                alt=""
              />
              <img
                class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
              <a
                href="#"
                class="inline-block px-1 text-violet-800 rounded-full ring-2 ring-white font-bold flex justify-center items-center bg-violet-200 hover:opacity-90"
              >
                +700
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col font-bold text-xs">
          <span> Sessions </span>
          <div class="font-lg text-gray-800 mt-4">4</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Stats -->
  <div class="mt-12">
    <div class="flex items-center justify-between">
      <div class="text-lg font-bold">Event Stats</div>
      <a
        href="#"
        class="rounded-lg hover:opacity-90 bg-violet-200 py-3 px-6 text-sm font-bold flex justify-center items-center"
      >
        <span>
          <svg
            class="w-4"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 9.98193V19.9819H19V9.98193H15V7.98193H21V21.9819H3V7.98193H9V9.98193H5Z"
              fill="#6E44FF"
            />
            <path
              d="M13 2H11V14.053L8.46505 11.517L7.05005 12.932L12 17.882L16.95 12.932L15.536 11.517L13 14.053V2Z"
              fill="#6E44FF"
            />
          </svg>
        </span>
        <span class="text-violet-700 ml-2">Export Report</span>
      </a>
    </div>

    <!-- Stats Content -->
    <div class="mt-8 flex">
      <!-- Cards List -->
      <div class="grid grid-cols-3 gap-x-6 gap-y-8 flex-1">
        <!-- Card -->
        <div class="bg-white rounded-xl p-6 shadow-2xl font-bold text-sm">
          <div>Registrations</div>
          <div class="text-2xl text-gray-800 my-1">3.9K</div>
          <div class="text-xs flex items-center">
            <span>
              <svg
                class="w-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.998 7L18.998 15H4.99805L11.998 7Z"
                  fill="#34D399"
                />
              </svg>
            </span>
            <span class="text-emerald-400">+21%</span>&nbsp;<span
              >since last week</span
            >
          </div>
        </div>
        <!-- /Card -->
        <!-- Card -->
        <div class="bg-white rounded-xl p-6 shadow-2xl font-bold text-sm">
          <div>Page Views</div>
          <div class="text-2xl text-gray-800 my-1">1.2M</div>
          <div class="text-xs flex items-center">
            <span>
              <svg
                class="w-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.998 7L18.998 15H4.99805L11.998 7Z"
                  fill="#34D399"
                />
              </svg>
            </span>
            <span class="text-emerald-400">+21%</span>&nbsp;
            <span>since last week</span>
          </div>
        </div>
        <!-- /Card -->
        <!-- Card -->
        <div class="bg-white rounded-xl p-6 shadow-2xl font-bold text-sm">
          <div>Invited</div>
          <div class="text-2xl text-gray-800 my-1">0</div>
          <div class="text-xs">
            <span>No invites sent yet</span>
          </div>
        </div>
        <!-- /Card -->
        <!-- Card -->
        <div class="bg-white rounded-xl p-6 shadow-2xl font-bold text-sm">
          <div>Revenue</div>
          <div class="text-2xl text-gray-800 my-1">$12.6K</div>
          <div class="text-xs flex items-center">
            <span>
              <svg
                class="w-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.998 7L18.998 15H4.99805L11.998 7Z"
                  fill="#34D399"
                />
              </svg>
            </span>
            <span class="text-emerald-400">+11%</span>&nbsp;
            <span>since last week</span>
          </div>
        </div>
        <!-- /Card -->
        <!-- Card -->
        <div class="bg-white rounded-xl p-6 shadow-2xl font-bold text-sm">
          <div>Attendees</div>
          <div class="text-2xl text-gray-800 my-1">2.8K</div>
          <div class="text-xs flex items-center">
            <span>
              <svg
                class="w-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.998 17L18.998 9H4.99805L11.998 17Z"
                  fill="#FF5E5E"
                />
              </svg>
            </span>
            <span class="text-rose-400">-2%</span>&nbsp;
            <span>since last week</span>
          </div>
        </div>
        <!-- /Card -->
        <!-- Card -->
        <div class="bg-white rounded-xl p-6 shadow-2xl font-bold text-sm">
          <div>Conversion Rate</div>
          <div class="text-2xl text-gray-800 my-1">86%</div>
          <div class="text-xs flex items-center">
            <span>
              <svg
                class="w-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.998 7L18.998 15H4.99805L11.998 7Z"
                  fill="#34D399"
                />
              </svg>
            </span>
            <span class="text-emerald-400">+21%</span>&nbsp;
            <span>since last week</span>
          </div>
        </div>
        <!-- /Card -->
      </div>
      <!-- /Cards List -->
      <!-- Sessions -->
      <div class="w-5/12 ml-12">
        <div class="flex justify-between font-bold mb-6">
          <div>Top Sessions</div>
          <a href="#" class="text-gray-800 flex items-center dropdown">
            <span>By attendance</span>
            <span class="ml-2 block">
              <img
                src="{% static 'main/icons/icon-chevron-down.svg' %}"
                alt="Chevron Down"
                class="w-4"
              />
            </span>
          </a>
        </div>
        <!-- Progress Bars -->
        <!-- Bar -->
        <div class="mb-6">
          <div class="flex justify-between items-center font-bold mb-3">
            <div class="text-gray-800">Keynote - The future of remote work</div>
            <div>102</div>
          </div>
          <div class="w-full bg-green-100 h-2 rounded-full">
            <div
              class="bg-emerald-400 h-2 rounded-full"
              style="width: 90%"
            ></div>
          </div>
        </div>
        <!-- /Bar -->
        <!-- Bar -->
        <div class="mb-6">
          <div class="flex justify-between items-center font-bold mb-3">
            <div class="text-gray-800">
              The Remote Future is already here...
            </div>
            <div>91</div>
          </div>
          <div class="w-full bg-green-100 h-2 rounded-full">
            <div
              class="bg-emerald-400 h-2 rounded-full"
              style="width: 65%"
            ></div>
          </div>
        </div>
        <!-- /Bar -->
        <!-- Bar -->
        <div class="mb-6">
          <div class="flex justify-between items-center font-bold mb-3">
            <div class="text-gray-800">
              Defining Careers Progression Models...
            </div>
            <div>89</div>
          </div>
          <div class="w-full bg-green-100 h-2 rounded-full">
            <div
              class="bg-emerald-400 h-2 rounded-full"
              style="width: 50%"
            ></div>
          </div>
        </div>
        <!-- /Bar -->
        <div class="mt-8">
          <a
            href="#"
            class="flex items-center font-bold text-violet-800 text-sm"
          >
            <span>More details</span>
            <span class="block ml-2">
              <svg
                class="w-4"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.5 12C1.5 11.8011 1.57902 11.6103 1.71967 11.4696C1.86032 11.329 2.05109 11.25 2.25 11.25H19.9395L15.219 6.53097C15.0782 6.39014 14.9991 6.19913 14.9991 5.99997C14.9991 5.80081 15.0782 5.6098 15.219 5.46897C15.3598 5.32814 15.5508 5.24902 15.75 5.24902C15.9492 5.24902 16.1402 5.32814 16.281 5.46897L22.281 11.469C22.3508 11.5386 22.4063 11.6214 22.4441 11.7125C22.4819 11.8036 22.5013 11.9013 22.5013 12C22.5013 12.0986 22.4819 12.1963 22.4441 12.2874C22.4063 12.3785 22.3508 12.4613 22.281 12.531L16.281 18.531C16.1402 18.6718 15.9492 18.7509 15.75 18.7509C15.5508 18.7509 15.3598 18.6718 15.219 18.531C15.0782 18.3901 14.9991 18.1991 14.9991 18C14.9991 17.8008 15.0782 17.6098 15.219 17.469L19.9395 12.75H2.25C2.05109 12.75 1.86032 12.671 1.71967 12.5303C1.57902 12.3896 1.5 12.1989 1.5 12V12Z"
                  fill="#6E44FF"
                />
              </svg>
            </span>
          </a>
        </div>
        <!-- /Progress Bars -->
      </div>
      <!-- Sessions -->
    </div>
    <!-- /Stats Content -->
  </div>
  <!-- /Stats -->
</div>
<!-- /Sub content -->
{% endblock %}
