body {
  max-height: 100vh;
  overflow: hidden;
}

* {
  font-family: "Nunito", sans-serif;
}

.dropdown:focus-within + .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}